// SLient CLasses and Mixins for ALL navigation (menus)

%nav-ul {
	list-style: none;
	padding: 0;
}

%nav-links {
	padding: 15px 15px;
	font-size: 13px;
	@extend %font-bolder;
	
	@include responsive(sm) {
		padding: 25px 15px;
	}
	
	@include responsive(md) {
		padding: 25px 0;
	}
	
	@include responsive(lg) {
		font-size: 15px;
	}
}

%nav-mini-arrows {
	float:left;
	text-align:left;
	position:relative;
	margin-right:4px;
	display:block;
	background:none;
	width:auto;
	@include opacity(100);
	
	.fa {
		color:$clr-white;
		font-size:32px;
		padding:2px 10px 4px;
		background:$clr-brand;
		position:relative;
		float:left;
		left:auto !important;
		right:auto !important;

	}
	&:hover {
		.fa {
			background-color:$clr-brand-dark;
		}
		text-decoration:none;				
	}
}

%nav-primary-first-level {
	background: $navbar-bg;
	color: $clr-white;	
	@extend %nav-links;
	
	@include responsive(md) {
		padding-bottom:15px;
		border-bottom:10px solid transparent;
	}
}

.bb-nav {
	@extend .nav;
}